@import 'say';

.foo {
  bar: baz;
  message: saypure('billybob');
  messageagain: say('bieibn');
  foo: foo('bejibjeij');
  camel: camelCase('one-two-three-four');

  something: $test;
  something-else: $test-again;
  color: $color-primary;
}