@import 'say';
@import 'say/default';
@import 'say/foo';
@import 'say/images';
// @import 'test/vars';

$blahblah: 'blah';

.foo {
  bar: baz;
  messageagain: say('bieibn');
  messagedone: say-done('bbaaabbbbaaa');
  foo: foo('bejibjeij');
  content: map-get(map-get($map, 'baz'), 'quid');

  something: $test;
  something-else: $test-again;
  color: $color-primary;
}

.image {
  $image: image-size('./testimage.png');

  background-image: asset-url('testimage.png', 'say/images');

  @debug $image;
}