@import 'say';

$blahblah: 'blah';

.foo {
  bar: baz;
  message: saypure('billybob');
  messageagain: say('bieibn');
  foo: foo('bejibjeij');
  camel: camelCase('one-two-three-four');
  content: map-get(map-get($map, 'baz'), 'quid');

  something: $test;
  something-else: $test-again;
  color: $color-primary;
}

.image {
  $image: image-size('./testimage.png');

  @debug $image;
}